# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
storybook-static

# Cache
.turbo
.cache

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
